form {
    width: 250px;
}

textarea {
    width: 380px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

input {
    width: 380px;
    padding: 10px;
    border-style: none;
}

.input {
    border-radius: 10px 10px 0px 0px;
}

p.note-text {
    margin: 10px;
}

button {
    font-family: 'La Belle Aurore', cursive;
    font-size: 22px;
    margin: 15px;
    border-style: none;
    background-color: black;
    color: #6BB4BA;
    border-radius: 10px;
    border: solid 3px #6BB4BA;
    width: 100px;
    transition: width 1s;
}

button:hover {
    background-color: black;
    color: #6BB4BA;
    width: 230px;
}