.justify-content-end.nav {
background-color: black !important; 
}

.nav-item {
    padding: 20px;
    font-size: 20px;
}

.nav-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
    color: #6BB4BA;
}

@media (min-width: 0px) and (max-width: 653px) {
    .nav-item {
        padding: 0px;
        font-size: 10px;
    }

}