h1, h2, h3, p {
font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'La Belle Aurore', cursive;
}

h1 {
    font-size: 80px !important;
    color: #6BB4BA;
    margin: 30px;
    margin-left: 70px;
    padding: 50px;
}

.info-text {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    height: 66%;
    width: 65%;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (min-width: 0px) and (max-width: 600px) {
    h1 {
        font-size: 40px !important;
        margin-left: 0px;
        padding: 5px;
        height: 80%;
        width: 80%;
    }

    .info-text {
        font-size: 12px;
    }
}