html,
body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}



// To use incase later editing.
// background-image: url("../../images/texture.png");