html,
body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

img {
    height: 70%;
    width: 70%;
    margin: 20px;
    text-align: center;
}

.view {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin: 10px;
    color: #6BB4BA;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}

.view:hover {
    background-color: #6BB4BA;
    color: white;
}

.center {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer {
    text-align: center;
    margin-top: 100px;
}



// To use incase later editing.
// background-image: url("../../images/texture.png");