html,
body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

img {
    height: 50%;
    width: 50%;
    margin: 20px;
    text-align: center;
}

.center {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer {
    text-align: center;
    margin-top: 100px;
}



// To use incase later editing.
// background-image: url("../../images/texture.png");