h1, h2, h3 {
font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'La Belle Aurore', cursive;
}

h1 {
    font-size: 80px !important;
    color: #6BB4BA;
    margin: 30px;
    margin-left: 70px;
    padding: 50px;
}

.info-text {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    height: 50%;
    width: 50%;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}